<div class="row student">
	<div class="student_main">
		<div class="student_name">
			<h1><%= @student.name %></h1><%= link_to 'Edit', edit_student_path %>
		</div>
		<div class="student_row">
			<h3>Status</h3>
			<p><%= @student.status %></p>
		</div>
		<div class="student_row">
			<h3>Age</h3>
			<p><%= @student.age %></p>
		</div>
	</div>
	<div class="student_studio">
		<h2>Studio Info</h2>
		<div class="student_row">
			<h3>Amount</h3>
			<p><%= @student.amount %></p>
		</div>
		<div class="student_row">
			<h3>Status</h3>
			<p><%= @student.status %></p>
		</div>
		<div class="student_row">
			<h3>Rank</h3>
			<p><%= @student.rank %></p>
		</div>
		<div class="student_row">
			<h3>Size</h3>
			<p><%= @student.size %></p>
		</div>
		<div class="student_row">
			<h3>Address</h3>
			<p><%= @student.address %></p>
		</div>
		<div class="student_row">
			<h3>Phone</h3>
			<p><%= @student.phone %></p>
		</div>
	</div>
	<div class="student_info">
		
	</div>
</div>

