<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Studio Tracker | Students" %></title>
    <link rel="canonical" href="http://www.studio-tracker.com" />
    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <div class="ui grey inverted massive menu">
  <%= link_to root_path, method: :get, :class => 'header item' do  %>MA Vue<% end %>
    <!-- Right Nav Section -->
    <div class="right menu">
    <% if current_user.admin? %>
      <%= link_to "Admin", '/admin', method: :get, :class => 'item' %>
    <% end %>
    <div class="ui  dropdown item">
    <div class="text">Students</div>
    <i class="dropdown icon"></i>
    <div class="menu">
      <div class="blue inverted item">
        <%= link_to('Students', students_path, method: :get) %>
      </div>
    </div>
  </div>
  <div class="ui dropdown item">
    <div class="text">Reports</div>
    <i class="dropdown icon"></i>
    <div class="menu">
      <div class="item">
        <%= link_to('Trails', '#' , method: :get) %>
      </div>
      <div class="item">
        <%= link_to('Holds', '#', method: :get) %>
      </div>
      <div class="item">
        <%= link_to('Inactive', '#', method: :get) %>
      </div>
    </div>
  </div>

      <div class="ui dropdown item">
        <div class="text"><%= current_user.email %></div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item">
            <%= link_to('Settings', edit_user_password_path, method: :get) %>
          </div>
          <div class="item">
            <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="ui container">
  <%= yield %>
  </div>
  <%= javascript_pack_tag 'application' %>
  </body>
</html>
